<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SVG Filters</title>
    <link rel="stylesheet" href="/styles/modern-normalize.css" />
    <link rel="stylesheet" href="/styles/html5boilerplate.css" />
    <link rel="stylesheet" href="/styles/minireset.css" />
    <link rel="stylesheet" href="/styles/base.css" />
  </head>
  <body>
    <!-- <nav>
      <ol>
        <li><a href="/css.html">CSS filters</a></li>
        <li><a href="/shadow.html">Shadow</a></li>
        <li><a href="/colors.html">Colors</a></li>
      </ol>
    </nav> -->
    <main>
      <h1>SVG Filters</h1>
      <%= contents %>
    </main>
  </body>
</html>
